@import "header.scss";

body {
  text-align: center;
}

#container {
  width: 920px;
  margin: 0 auto;
	padding: 0 20px;
  text-align: left;
}

header {
	padding: 20px 0 30px;
	text-align: left;
}

nav {
	text-align: right;
  line-height: 20px;
}

footer {
	padding: 40px 0;
	text-align: center;
}