%div{:id => "logo", :itemscope => true, :itemtype => "http://schema.org/Organization"}
  = image_tag "githug.png", :alt => "githug", :itemprop => "name", :content => "githug"

%nav{:id => "page-nav"}
  = render :partial => "layouts/nav"